*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: sans-serif;
    transition: all 0.3s ease;
  }

body{
  background-color: #efebe5;
}
html {
  scroll-behavior:smooth  ;
}
